body {
  margin: 0px;
}

nav {
  background-color: yellow;
  /* color: var(--secondary-color); */
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid;
  padding: 10px;
}

.container {
  padding: 0px 0px 0px 20px;
  display: flex;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.menu-focused {
  /* border: 1px solid red; */
  /* color: rgb(2, 3, 88); */
  color: white;
  border-radius: 8px;
  background-color: black;
  font-weight: 600;
}
